/* gaya.css */

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    text-align: center; /* Untuk mengatur teks di dalam body menjadi rata tengah */
    padding: 20px;
}

.kalkulator {
    max-width: auto;
    padding-top: 30px; /* Mengatur padding 30px di bagian atas */
    margin: 0 auto;
    background-color: #fff; /* Warna dasar latar belakang */
    padding: 20px;  
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 255, 234, 0.8); /* Warna glow neon */
}

.kalkulator input[type="submit"] {
    margin-top: 10px; /* Memberikan jarak 10px di atas tombol */
    margin-bottom: 10px; /* Memberikan jarak 10px di bawah tombol */
}

/* Gaya untuk elemen h2 di dalam kalkulator */
.kalkulator h2 {
    margin-bottom: 20px; /* Menambahkan ruang antara h2 dan form */
}
